<!-- <footer class="mt-20 flex items-center justify-center text-center">
  <p>© <span id="year"><%= new Date().getFullYear() %></span> TheMapJS — Feel free to share.</p>
</footer> -->

<footer class="mt-20 mb-[10px] flex items-center justify-center text-center">
  <p>© <%= new Date().getFullYear() %> TheMapJS — Feel free to share.</p>
</footer>


<script src="/script/theme.js"></script>
