<!--manu-bar logo and menu-->
<nav class="navbar">
    <div class="logo">
      <a href="/themapjs">
        <img id="logo" src="/images/myLogo.png" alt="Logo">

        <!--<img id="logo-img" src="/images/myLogoBlack.png" alt="Logo" /> -->
      </a>
    </div>
    <button class="hamburger" id="hamburger" aria-label="Toggle menu">&#9776;</button>
    <div class="nav-links" id="nav-links">
      <ul class="nav-links-list">
        <li><a href="/about" class="menu-list">About</a></li>
        <li><a href="/projects" class="menu-list">Projects</a></li>
        <li><a href="/writing" class="menu-list">Writing</a></li>
      </ul>
    </div>
  </nav>
<button class="toggle-btn" onclick="toggleDarkMode()" title="Toggle Dark Mode">
    <span id="theme-icon">🌙</span>
</button>
  
  