<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>themapjs</title>
    <link rel="icon" type="image/x-icon" href="/images/mLogoUpdate.png">
    <link rel="stylesheet" href="/style/portfolio-header-style.css">
    <link rel="stylesheet" href="/style/portfolio-style.css">
    <link rel="stylesheet" href="/style/portfolio-about-style.css">
    <link rel="stylesheet" href="/style/portfolio-dark-mode.css">
    <link rel="stylesheet" href="/style/footer.css">
</head>
<body>
<%- include('../partials/header') %>
     
    <section class="about-me">
        <div class="introduction">
            <h2>About Me</h2>
            <p>I’m a self-taught JavaScript developer passionate about building web apps. I’m currently learning front-end technologies and working on small projects to grow my skills. I'm looking for a Junior opportunity where I can learn from real-world experience and contribute to meaningful projects.</p>
        </div>
        <div class="introduction">
            <h2>From IT Support to JavaScript Developer</h2>
            <p>I'm a career-changer with a strong foundation in IT support and a passion for building interactive web applications. After years of solving technical problems and supporting users, I’ve transitioned into JavaScript development to create solutions that are not only functional but user-friendly. I'm now focused on writing clean, responsive code and continuously learning to grow as a developer.</p>
        </div>
        <div class="interest">
            <h2>Interesting</h2>
            <p>I'm deeply interested in simple living, adventure, and staying active through bicycle and running. On the tech side, I enjoy exploring computer operating systems, programming. I'm particularly enthusiastic about:</p>
            <li>Front end responsive UI</li>
            <li>Back end development</li>
        </div>

        <div class="skill-set">
            <h2>Skills</h2>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">Git</a></li>
            <li><a href="#">Responsive Design</a></li>
        </div>
        <div class="skill-set">
            <h2>Learning</h2>
            <li><a href="#">Node.js</a></li>
            <li><a href="#">Leadership</a></li>
            <li><a href="#">France Language</a></li>
        </div>
        </div>
    </section>
     <%- include('../partials/footer') %>

    <script src="/script/portfolio-dark-mode.js"></script>
</body>
</html>