<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>themapjs</title>
    <link rel="icon" type="image/x-icon" href="/images/mLogoUpdate.png">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/portfolio-style.css">
    <link rel="stylesheet" href="/style/portfolio-dark-mode.css">
</head>
<body>
    <%- include('../partials/header') %>

    <section class="hero-section">
        <div class="info">
            <div class="intro">
                <div class="hello"><h3>Hello,</h3></div>
                <div class="hello"><h3>Bonjour,</h3></div>
                <div class="name"><h3>I'm Map.</h3></div>
            </div>
            <p> JavaScript Developer | Junior Node.js</p>
        </div>
        <div class="profile-info">
            <img src="./images/profile-v3.png" alt="profile">
            <button class="btn-links">
                <p><a href="/resume" target="_blank">Download My Resume</a></p>
            </button>
        </div>
    </section>
    <section class="footer">
        <div class="social-connect">
            <a href="https://www.linkedin.com/in/maply/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="social-connect">
            <a href="https://github.com/mapstudent" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </section>


 <%- include('../partials/footer') %>

</body>
</html>


<script src="/script/nav.js"></script>
<script src="/script/portfolio-dark-mode.js"></script>
<script src="/script/footer.js"></script>
</body>
</html>